node_modules
.env


https://cocteleriaencasa.com/


-COCTELES AMERICANOS-
DRY MARTINI
TOM COLLINS
WHITE RUSSIAN
MANHATTAN
OLD-FASHIONED

-COCTELES CENTROAMERICANOS-
PURO GUARO
PIÑA COLADA
MOJITO
DAIQUIRI
MACUÁ

-COCTELES SUDAMERICANOS-
CAIPIRINHA
CANELAZO
PISCO SOUR
MARGARITA
LULADA COLOMBIANA

-COCTELES EUROPEOS-
BLACK RUSSIAN
SANGRÍA
NEGRONI
BLOODY MARY
GINJINHA